body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.slide {
    display: flex;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 6vw;
}

h2 {
    font-size: 3vw;
    font-weight: 300;
}

.hidden {
    visibility: hidden;
}

.slide2 {
    visibility: visible !important;
}